<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @score.player_id %>
</p>

<p>
  <b>Game:</b>
  <%= @score.game_id %>
</p>

<p>
  <b>Points:</b>
  <%= @score.points %>
</p>


<%= link_to 'Edit', edit_game_score_path(@score) %> |
<%= link_to 'Back', game_scores_path %>
