<h1>Games</h1>

<section id="games">
<% @games.each do |game| %>
  <div class="game">
    <time><%= link_to game.game_date.strftime("%m/%d/%Y"), edit_game_path(game) %></time>
    <% game.scores.sort!{|a,b| b.points <=> a.points}.each do |score| %>
      <div class="score">
        <span><%= score.player.name %></span>
        <span class="points"><%= score.points %></span>
      </div>
    <% end %>
    <div class="options"><%= link_to 'Delete', game, :confirm => 'Are you sure?', :method => :delete %></div>
  </div>
<% end %>
</section>

<br>
<nav>
<%= link_to 'New Game', new_game_path %>
<br>
<br>
<%= link_to 'Rankings', root_path %>
<br>
<br>
<%= link_to 'Players', players_path %>
</nav>